<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All Posts</title>
</head>
<body>
  <form action="/posts/new" method="POST">
    <input type="hidden" name="user_id" value="<%= userID %>">
    <label for="title">Post Title:</label>
    <input type="text" name="title">
    <label for="post_link">Post Link:</label>
    <input type="text" name="post_link">
    <label for="post_content">Post Content:</label>
    <textarea rows="4" type="text" name="post_content"></textarea>
    <input type="submit">
  </form>

  <ul>
    <% posts.forEach(function (post) { %>
      <h2><%= post.title%></h2>
      <ul>
        <li><%= post.post_link%></li>
        <li><%= post.post_content%></li>
        <!-- <a href=<%= 'posts/' + post.id %>>TEST</a> -->
        <form action='<%= 'posts/' + post.id %>' method="GET">
          <input type="hidden" name="user_id" value="<%= userID %>">
          <input type="submit" value="See Comments">
        </form>
      </ul>
      <p></p>
    <% }) %>
  </ul>
</body>
</html>
